<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      *{
        margin: 0;padding: 0;
      }
      html,body{
        overflow: hidden;
      }
    </style>
  </head>
  <body>
  你再干鸡毛?

   <iframe src="//player.bilibili.com/player.html?aid=928861104&bvid=BV1uT4y1P7CX&cid=287639008&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="998" height="768"> </iframe>
  </body>
</html>
